#box {
  position: absolute;
  
  width: 10rem;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
  color: white;
  background: red;
  user-select: none;
}